body {
  margin: 0;
  width: 100%;
  background-color: #3e3e42;
}

.interface-container {
  height: 5rem;
  width: 90vw;
  margin-top: 1rem;
  display: flex;
}

.interface-button {
  flex: 1;
  padding: 10px 20px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.interface-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.interface-button:active {
  background-color: #003f7f;
  transform: translateY(0);
}

.interface-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.app-wrapper {
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#video {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  /* width: 320px; */
  /* height: 240px; */
  max-width: 95vw;
}

#addPhoto {
  position: fixed;
  /* z-index: 200; */
  top: 15%;
  left: 85%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 6rem;
  height: 6rem;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: whitesmoke;
  border: 1px solid #9386e6;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.7);
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

#addPhoto:hover,
#addPhoto:active {
  transform: scale(0.9);
  box-shadow: 0px 12px 8px -8px rgba(0, 0, 0, 0.7);
}

.placeholder {
  height: 40px;
}

#photo {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width: 320px;
  height: 240px;
}

#streamdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

#canvas {
  display: none;
  width: 100vw;
}

#nav-bar {
  display: none;
  /* overflow: hidden; */
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  background-color: #3e3e42;
  color: white;
}

#imagesContainer {
  display: flex;
  flex-direction: column;
  max-width: 95vw;
  gap: 0.5rem;
}

.downvote-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.camera {
  /* max-width: 500px; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  border-radius: 4px;
}

.output {
  /* width: 340px; */
  /* display: inline-block; */
  /* vertical-align: top; */
}

.image-card {
  /* position: absolute; */
  background-color: slategray;
  padding: 0.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.upvote-button {
  height: 4rem;
  touch-action: manipulation;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.downvote-button {
  display: none;
  height: 4rem;
  touch-action: manipulation;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vote-display {
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: none;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button {
  width: 320px;
  background-color: #4caf50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 15px 32px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* No underline */
  display: inline-block; /* Use inline-block */
  font-size: 16px; /* Set font size */
  margin: 4px 2px; /* Add some margin */
  cursor: pointer; /* Change mouse cursor on hover */
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for background and shadow */
}

.button:hover {
  background-color: #45a049; /* Darker shade of green */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

.button:active {
  background-color: #3e8e41; /* Even darker shade of green */
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2) inset; /* Inset shadow for a pressed effect */
}

.input {
  line-height: 40px;
  width: 320px;
  display: flex;
  font-size: 24px;
}

.input-pair {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

/* @media (max-width: 699px) {
  .input {
    line-height: 60px;
    width: 95%;
    display: block;
  }

  .button {
    width: 95%;
    height: 90px;
    font-size: 40px;
  }

  .camera {
    width: 95%;
  }
} */
