#video {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width: 320px;
    height: 240px;
  }
  
  #photo {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width: 320px;
    height: 240px;
  }
  
  #canvas {
    display: none;
  }
  
  .camera {
    max-width: 500px;
    display: inline-block;
  }
  
  .output {
    width: 340px;
    display: inline-block;
    vertical-align: top;
  }

  .button {
    width: 320px;
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Use inline-block */
    font-size: 16px; /* Set font size */
    margin: 4px 2px; /* Add some margin */
    cursor: pointer; /* Change mouse cursor on hover */
    border-radius: 8px; /* Rounded corners */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for background and shadow */
  }
  
  .button:hover {
    background-color: #45a049; /* Darker shade of green */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* Add shadow on hover */
  }
  
  .button:active {
    background-color: #3e8e41; /* Even darker shade of green */
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2) inset; /* Inset shadow for a pressed effect */
  }
  
  
  .contentarea {
    font-size: 16px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    width: 760px;
  }
  

  .input {
    line-height: 40px;
    width: 320px;
    display: block;
  }



  @media (max-width: 699px) {

    .input {
        line-height: 60px;
        width: 95%;
        display: block;
      }

      .button{
        width: 95%;
        height: 90px;
        font-size: 40px;
      }

        .camera {
            width: 95%;
        }

}
